<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceDEV11.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServiceDEV11.Test.Properties.Settings>
            <setting name="WebServiceDEV11_Test_OurEraDayQuantityRef_GetterDaysService"
                serializeAs="String">
                <value>http://localhost:62811/GetterDaysService.asmx</value>
            </setting>
        </WebServiceDEV11.Test.Properties.Settings>
    </applicationSettings>
</configuration>